<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>#</th>
        <th>Survey Name</th>
        <th>Date of latest change</th>
        <th>Changed since last update?</th>
    </tr>
{% for k, v in last_update.items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ k }}</td>
        <td>{{ v.time }}</td>
        {% if v.update_needed %}
            <td style="color: green">True</td>
        {% else %}
            <td style="color: red">False</td>
        {% endif %}
    </tr>
{% endfor %}
</table>