<style>
    
</style>

<div class="top-section">
    <div id = "options-list" class="main-block">
        <h2>Value Options</h2>
        <img class="hidden centered-absolute" src="/site_media/static/img/ajax-loader.gif">
        <div class="options-tree"></div>
    </div>
    <div id = "edit-filter-display" class="main-block">
        <img class="hidden centered-absolute" src="/site_media/static/img/ajax-loader.gif">
        <div class="content">
            <div class="centered-info">
                <p>Select a filter type to create a new filter, or select an existing filter to display</p>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<hr/>
<div id="filter-display" class="full-section">
    <div class="label-block">
        <h2>Current Filters</h2><a class="hidden" href="#">Show All</a>
    </div>
    <div class="display-box"></div>
</div>
